@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Segoe UI', sans-serif;
}

body{
    background: linear-gradient(135deg, #f0abfc, #818cf8, #67e8f9);
    min-height: 100vh;
}